{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %}


{% block content %}
<p></p>
<div class="card" style="border-radius: 10px;">
  <div class="card-body p-5">
    <h2 class="text-uppercase text-center mb-5">Create an account</h2>

    <form method = 'POST'>

      <div class="form-outline mb-4">
        <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
        <label class="form-label" for="email" placeholder='Enter Email'>Your Email</label>
      </div>

      <div class="form-outline mb-4">
        <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
        <label class="form-label" for="form3Example4cg">Password</label>
      </div>

      <div class="form-outline mb-4">
        <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
        <label class="form-label" for="form3Example4cdg">Repeat your password</label>
      </div>

      <div class="d-flex justify-content-center">
        <button type="button"
          class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">Register</button>
      </div>

      <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
          class="fw-bold text-body"><u>Login here</u></a></p>

    </form>

  </div>
</div>


{% endblock %}